<form [formGroup]="transactionForm" (ngSubmit)="onSubmit()" class="form-container">
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date" aria-label="Transaction Date" />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    @if (transactionForm.get('date')?.invalid) {
      <mat-error>Please select a valid date.</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Amount</mat-label>
    <input
      matInput
      placeholder="$0.01"
      type="number"
      formControlName="amount"
      aria-label="Transaction Amount"
    />
    @if (transactionForm.get('amount')?.hasError('min')) {
      <mat-error>Amount must be a valid number.</mat-error>
    }
    @if (transactionForm.get('amount')?.hasError('required')) {
      <mat-error>Amount is required.</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Category</mat-label>
    <mat-select formControlName="categoryId" aria-label="Transaction Category">
      @for (category of categories(); track category) {
        <mat-option [value]="category.id">
          {{ category.name }}
        </mat-option>
      }
    </mat-select>
    @if (transactionForm.get('categoryId')?.invalid) {
      <mat-error>Please select a category.</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Payment Method</mat-label>
    <mat-select formControlName="paymentMethodId" aria-label="Payment Method">
      @for (method of paymentMethods(); track method) {
        <mat-option [value]="method.id"> {{ method.name }} - {{ method.type }} </mat-option>
      }
    </mat-select>
    @if (transactionForm.get('paymentMethodId')?.invalid) {
      <mat-error>Please select a payment method.</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Name</mat-label>
    <input
      matInput
      type="text"
      placeholder="Transaction Name"
      formControlName="name"
      aria-label="Transaction Name"
    />
    @if (transactionForm.get('name')?.hasError('required')) {
      <mat-error>Name is required.</mat-error>
    }
    @if (transactionForm.get('name')?.hasError('minlength')) {
      <mat-error>Name must be at least 3 characters long.</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Description</mat-label>
    <input
      matInput
      type="text"
      placeholder="Optional description"
      formControlName="description"
      aria-label="Transaction Description"
    />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Notes</mat-label>
    <input
      matInput
      type="text"
      placeholder="Optional notes"
      formControlName="notes"
      aria-label="Transaction Notes"
    />
  </mat-form-field>

  @if (isExpense) {
    <mat-checkbox formControlName="isCreditCardPurchase" aria-label="Credit Card Purchase">
      Credit Card Purchase
    </mat-checkbox>
  }

  @if (isExpense) {
    <div
      [class.disabled-group]="!transactionForm.get('isCreditCardPurchase')?.value"
      [formGroup]="installmentGroup"
      class="credit-card-fields"
    >
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Installment Number</mat-label>
        <input matInput type="number" formControlName="number" aria-label="Installment Number" />
        @if (transactionForm.get('installment.number')?.hasError('min')) {
          <mat-error>Installment number must be at least 1.</mat-error>
        }
        @if (transactionForm.get('installment.number')?.hasError('max')) {
          <mat-error>Installment number cannot exceed 12.</mat-error>
        }
        @if (transactionForm.get('installment.number')?.hasError('required')) {
          <mat-error>Installment number is required.</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Interest</mat-label>
        <input matInput type="number" formControlName="interest" aria-label="Interest Rate" />
        @if (installmentGroup.get('interest')?.hasError('min')) {
          <mat-error>Interest rate must be at least 0.</mat-error>
        }
        @if (installmentGroup.get('interest')?.hasError('required')) {
          <mat-error>Interest rate is required.</mat-error>
        }
      </mat-form-field>
    </div>
  }

  @if (isExpense) {
    <mat-checkbox formControlName="isReimbursement" aria-label="Reimbursement">
      Reimbursement
    </mat-checkbox>
  }

  @if (isExpense) {
    <div
      [class.disabled-group]="!transactionForm.get('isReimbursement')?.value"
      [formGroup]="reimbursementGroup"
      class="reimbursement-fields"
    >
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Amount</mat-label>
        <input matInput type="number" formControlName="amount" aria-label="Reimbursement Amount" />
        @if (transactionForm.get('reimbursement.amount')?.hasError('min')) {
          <mat-error>Reimbursement amount must be at least $1.</mat-error>
        }
        @if (transactionForm.get('reimbursement.amount')?.hasError('required')) {
          <mat-error>Reimbursement amount is required.</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Choose a date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="date"
          aria-label="Reimbursement Date"
        />
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        @if (transactionForm.get('reimbursement.date')?.invalid) {
          <mat-error>Please select a valid date.</mat-error>
        }
        @if (transactionForm.get('reimbursement.date')?.hasError('required')) {
          <mat-error>Reimbursement date is required.</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Reason</mat-label>
        <input matInput type="text" formControlName="reason" aria-label="Reimbursement Reason" />
        @if (transactionForm.get('reimbursement.reason')?.hasError('required')) {
          <mat-error>Reimbursement reason is required.</mat-error>
        }
      </mat-form-field>
    </div>
  }

  <div class="button-container">
    @if (!isEditMode()) {
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="isLoading() || transactionForm.invalid"
      >
        @if (isLoading()) {
          <mat-spinner diameter="20" strokeWidth="3"></mat-spinner>
        }
        @if (!isLoading()) {
          <span>Add {{ transactionType() === 'income' ? 'Income' : 'Expense' }}</span>
        }
      </button>
    }

    @if (isEditMode()) {
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="isLoading() || transactionForm.invalid"
      >
        @if (isLoading()) {
          <mat-spinner diameter="20" strokeWidth="3"></mat-spinner>
        }
        @if (!isLoading()) {
          <span>Save Changes</span>
        }
      </button>
    }
  </div>
</form>

