<div class="dialog-wrapper">
  <button mat-icon-button (click)="onCancel()" class="close-button" aria-label="Close dialog">
    <mat-icon>close</mat-icon>
  </button>

  <div class="custom-content">
    <h2 class="title-text">Edit {{ data.transactionType | lowercase }}</h2>

    <div class="form-container">
      <app-transaction-form
        [transactionType]="data.transactionType"
        [isLoading]="isLoading"
        (submitted)="onFormSubmitted($event)"
      ></app-transaction-form>

      @if (apiSuccess === false) {
        <div class="message-container">
          <div class="message-error">
            <mat-icon>error</mat-icon>
            <span>{{ apiMessage }}</span>
          </div>
        </div>
      }
    </div>
  </div>
</div>
