<main>
  <section>
    <h2>Recent transactions</h2>
    <ul *ngIf="transactions && transactions.length > 0">
      <li *ngFor="let t of transactions" class="transaction-card">
        <div class="transaction-info">
          <h3 class="transaction-title">{{ t.description }}</h3>
          <p class="transaction-date">{{ t.date | date: "dd/MM" }}</p>
        </div>
        <div
          class="transaction-amount"
          [ngClass]="t.amount < 0 ? 'negative' : 'positive'"
        >
          {{ t.amount < 0 ? "-" : "+" }} ${{ t.amount | number: "1.2-2" }}
        </div>
      </li>
    </ul>
    <p *ngIf="transactions?.length === 0">No transactions found.</p>
  </section>
</main>
