<mat-sidenav-container autosize>
  <mat-sidenav
    #sidenav
    fixedInViewport="true"
    mode="side"
    [opened]="true"
    [ngClass]="{ collapsed: !isExpanded }"
    class="sidenav"
  >
    <div class="nav-menu">
      <button mat-button class="menu-item" routerLink="/dashboard" routerLinkActive="active-link">
        <mat-icon>home</mat-icon>
        <span *ngIf="isExpanded">Dashboard</span>
      </button>
      <button mat-button class="menu-item" routerLink="/income" routerLinkActive="active-link">
        <mat-icon>keyboard_arrow_down</mat-icon>
        <span *ngIf="isExpanded">Income</span>
      </button>
      <button mat-button class="menu-item" routerLink="/expense" routerLinkActive="active-link">
        <mat-icon>keyboard_arrow_up</mat-icon>
        <span *ngIf="isExpanded">Expense</span>
      </button>

      <div class="bottom-nav">
        <button mat-button class="menu-item logout" (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span *ngIf="isExpanded">Logout</span>
        </button>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <button type="button" mat-button (click)="toggleSidenav()" class="toggle-btn">
      <mat-icon>{{ isExpanded ? 'keyboard_arrow_left' : 'keyboard_arrow_right' }}</mat-icon>
    </button>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
